* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 45px;
    background-color: rgb(219, 219, 219);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-icon {
    display: none;
    padding: 7.5px;
    vertical-align: middle;
}

.menu-icon img {
    image-rendering: auto;
    width: 25px;
    height: 25px;
}

nav {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px;
    background-color: rgb(180, 180, 180);
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    display: inline;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 17px;
    width: auto;
}
nav a:hover {
    background-color: rgb(160, 160, 160);
}

header {
    display: grid;
    font-family: bebas;
    text-align: center;
    background-image: url(header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
    border-radius: 5px;
    grid-area: header;
}
.h1 {
    font-size: 50px;
}
.h2 {
    font-size: 25px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header  header  header"
                         "content content sidebar"
                         "widget  widget  sidebar"
                         "footer  footer  footer";
}

.container > div,
.container #content,
.container #sidebar,
.container #footer {
    background: rgb(250, 250, 250);
    padding: 20px;
    border-radius: 5px;
}

.container #content {
    grid-area: content;
}

.container #sidebar {
    background: rgb(45, 170, 219);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: sidebar;
}

.container #widget {
    background: rgb(253, 180, 21);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: widget;
}

.container #footer {
    background: rgb(180, 180, 180);
    grid-area: footer;
}

@media screen and (max-width: 768px){
    .container {
        grid-template-areas: 
        "header  header  header"
        "content content content"
        "sidebar sidebar sidebar"
        "widget  widget  widget"
        "footer  footer  footer";
    }
}

@media screen and (max-width: 638px) {
    .menu-icon {
        display: inline-block;
        cursor: pointer;
    }
    nav {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0px;
        background-color: rgb(180, 180, 180);
    }

    nav ul.show {
        display: inline;
    }

    nav ul {
        display: none;
    }

    nav li a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 15px;
        font-size: 16px;
        flex-wrap: wrap;
    }
    nav a:hover {
        background-color: rgb(160, 160, 160);
    }
}